#imagenes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poltawski Nowy', serif;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: black;
}

/*NavBar*/

a {
    text-decoration: none;
    color: rgb(255, 255, 255)
}

ul {
    list-style: none;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.623);
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li{
    margin: 0 30px;
    height: auto;
}

.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

.header-content {
    margin-top: 100px;
    margin-bottom: 50px;
    background-color: silver;
    color: rgb(0, 0, 0);
    border-radius: 10px;
}

/*Foto portada*/

header {
    width: 100vw;
    height: 100vh;
    background-image: url(../Images/portada-dondeir.jpg);
    filter: brightness(0.6);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content {
    margin-bottom: 150px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
}
.header-content h2 {
    font-size: 4vmin;
}

.line {
    width: 170px;
    height: 4px;
    background: rgb(8, 174, 220);
    margin: 10px auto;
    border-radius: 5px;
}

/*Galeria de imagens*/
section{
    display: flex;
    width: 1800px;
    height: 800px;
  }
  section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
  }
  section img:hover{
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
  }


