
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poltawski Nowy', serif;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
}

/*NavBar*/

a {
    text-decoration: none;
    color: rgb(255, 255, 255)
}

/*agregar hover
a:hover {

  }
*/
ul {
    list-style: none;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.623);
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li{
    margin: 0 30px;
    height: auto;
}

.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

/*Foto portada*/

header {
    width: 100vw;
    height: 100vh;
    background-image: url(../Images/image-portada.jpg);
    filter: brightness(0.6);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content {
    margin-bottom: 150px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.header-content h1{
    font-size: 7vmin;
    margin-top: 50px;
}
.header-content h2 {
    font-size: 4vmin;
}

.line {
    width: 170px;
    height: 4px;
    background: rgb(8, 174, 220);
    margin: 10px auto;
    border-radius: 5px;
}

/*Section 1: galeria ---> A donde ir*/

.lugares-container{

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(4, 5, 5);
    width: 100vw;
    height: 100%;
    padding-top: 50px;
}

.title-lug{
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.title-lug h1 {
    font-size: 7vmin;
    margin-top: 50px;
}

.title-lug h2 {
    font-size: 5vmin;
    margin-top: 50px;
}

.galeria-lug{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    width: 90%;
    overflow-x: auto;
}

.galeria-lug .slider {
    display: flex;
    overflow: hidden;
    scroll-behavior: smooth;
}

.galeria-lug .tarj--lug{
    display: flex;
}

.tarj--lug{
    display: flex;
    flex-direction: column;
    color: aliceblue;
    text-align: center;
}

.tarj--lug h3{
    position: relative;
    background: rgba(0, 0, 0, 0.835);
    text-align: center;
    top: -306px;
}

.tarj--lug h4{
    position: relative;
    background: rgba(0, 0, 0, 0.835);
    top: -50px;
}

.tarj--lug a{
    position: relative;
    background-color: rgb(41, 172, 172);
    padding: 5px;
    border-radius: 10px;
    top: -40px;
}

.tarj--lug img{
    width: 470px;
    height: 300px;
}

.galeria-lug .prev {
    position: absolute;
    left: 19px;
    top: 43%;
    transform: translate(-50%, -50%);
}

.galeria-lug .next {
    position: absolute;
    right: -7px;
    transform: translate(-50%, -50%);
    top: 43%;
}

.prev img, .next img {
    width: 25px;
    margin: 10px;
    padding: 3px;
}

.galeria-lug .prev, .galeria-lug .next {
    width: 30px;
    height: 35px;
    margin: 10px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.867);
    border-radius: 8px;
    padding: 5px;
}

/* Responsive media
*/

@media only screen and (max-width:850px){
    .navbar {
        padding:0;
    }
    .logo {
        position: absolute;
        top:30px;
        left: 30px;
    }
    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        /*        background:rgba(8, 174, 220, 0.652) ;*/
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .mobile-menu {
        margin-top: 0px;
       /* border-bottom-right-radius: 288px; si le agregamos el backroung celeste podemos darle
       un estilo al borde */
    }
    .nav-links li {
        margin: 30px auto;
    }
    .menu-btn {
        display: block;
        background:rgba(8, 174, 220, 0.686);
        border-radius: 6px;
    }
}








