
/*NavBar*/

a {
    text-decoration: none;
    color: rgb(255, 255, 255)
}

/*agregar hover
a:hover {

  }
*/
ul {
    list-style: none;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.623);
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 30px;
    height: auto;
}

.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    display: none;
}

/*Foto portada*/

header {
    width: 100vw;
    height: 100vh;
    background-image: url(../Images/nosotros.webp);
    filter: brightness(0.6);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content {
    margin-bottom: 150px;
    color: rgb(255, 255, 255);
    text-align: center;
}

.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
}

.header-content h2 {
    font-size: 4vmin;
}

.line {
    width: 170px;
    height: 4px;
    background: rgb(8, 174, 220);
    margin: 10px auto;
    border-radius: 5px;
}


/*Body*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poltawski Nowy', serif;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    background-color: rgb(0, 0, 0);
}



p,
h1,
h2 {
    padding-left: 50px;
    color: aliceblue;
    text-align: center;
}

.nosotros-container h1 {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100%;
    padding-top: 50px;
}

.nosotros-container {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    width: 100vw;
    height: 100%;
    padding-top: 50px;
}




#text-nosotros {
    text-align: left;
    margin-left: 50px;
    margin-right: 10px;
}

#nosotros {
    margin-top: 30px;
    width: 90%;
    height: 90%;
    border-radius: 0px 0px 0px 50px;

}

.Staff-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: left;
    justify-content: center;

    padding: 50px;
}

#Staff-text {
    padding-top: 50px;
}

#nos {
    margin: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

form {
    margin: 50px;
    color: white;

}


/*Footer*/


#footer {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px #b5b5b5;
    padding: 20px 0px;
    background-color: #3d3d3dc8;
    color: black;
    align-items: center;
}

iframe {
    width: 600px;
    height: 200px;
    box-shadow: 3px 3px 5px #b5b5b5;
    border-radius: 20px;
    margin: 50px;
    align-items: center;
}

.sucur {
    padding: 50px;
}

/* Responsive media
*/

@media only screen and (max-width:850px) {
    .navbar {
        padding: 0;
    }

    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        /*        background:rgba(8, 174, 220, 0.652) ;*/
        margin-top: -900px;
        transition: all 0.5s ease;
    }

    .mobile-menu {
        margin-top: 0px;
        /* border-bottom-right-radius: 288px; si le agregamos el backroung celeste podemos darle
       un estilo al borde */
    }

    .nav-links li {
        margin: 30px auto;
    }

    .menu-btn {
        display: block;
        background: rgba(8, 174, 220, 0.686);
        border-radius: 6px;
    }



}